<template id="common-dev-errors-list" >
	<div v-if="$store.getters.getErrors.length" >
		<div>
			<h3>Ошибки в процессе работы</h3>
		</div>
		<div
			v-for="(item, i) in $store.getters.getErrors" v-bind:key="i" v-bind:index="i" v-bind:item="item"
		>
			<p>
				<a
					v-bind:href="'data:application/json;charset=utf-8,' + encodeURIComponent($mctrl.get('Debug').ed(item))"
					v-bind:download="'error-' + item.created_at + '.json'"
				>
					Скачать ошибку
				</a>
			</p>
			<pre>{{item | getJSON}}</pre>
		</div>
	</div>
</template>